body {
	background-color: #ff8080;
	}

h1 {
	color: black;
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	padding-top: 170px;
}

img:hover {
	transition: 1s;
	transform: scale(1.15);
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	}

.btn-dark {
	background-color: #8c8c8c;
	margin: auto;
	display: block;
	display: flex;
			}

.btn-dark:hover {
	background-color: #ff8080;
}

